<div class="post col-md-offset-2 col-md-8">
<article>
<header class="post-head">
	<div class="writing-title">
		<h1>{{ title }}</h1>
	</div>
</header>
<div class="writing-content">
	{{{ content }}}	
</div>
</article>
</div>